@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=IBM+Plex+Sans:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.row h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.r1c1 img:hover{
    content: url(img/net1hover.jpg);
}
.r1c2 img:hover{
    content: url(img/rim1hover.jpg);
}
.r1c3 img:hover{
    content: url(img/hoop1hover.jpg);
}


.r2c1 img:hover{
    content: url(img/ball1hover.jpg);
}
.r2c2 img:hover{
    content: url(img/ball2hover.jpg);
}
.r2c3 img:hover{
    content: url(img/ball3hover.jpg);
}


.r3c1 img:hover{
    content: url(img/bag1hover.jpg);
}
.r3c2 img:hover{
    content: url(img/tune1hover.jpg);
}
.r3c3 img:hover{
    content: url(img/cart1hover.jpg);
}